body{
    background-color: #011F3F;
}

.container{
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
    text-align: center;
    font: 30px 'Press Start 2P', cursive;
    color: #FEF2BF;
}

.tiles_container{
    display: grid;
    gap: 20px;
    grid-template: 100px 100px/100px 100px;
}

.tiles_container button{
    border: 5px solid black;
    border-radius: 25%;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

footer{
    font-family: system-ui, sans-serif;
    font-size: 14px;
    position: relative;
    color: white;
    text-align: center;
    top: 50px;
}

@media (min-width:600px) {
    .heading{
        font-size: 40px;
    }

    .tiles_container{
        grid-template: 200px 200px/ 200px 200px;
    }

    .tiles_container button{
        border-width: 10px;
    }
}

.clicked{
    background-color: white;
    box-shadow: 0px 0px 50px 10px rgb(255, 255, 255);
}

.start{
    background-color: green;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
}